service_account_key_file = "./key.json"
cloud_id                 = "blablabla"
folder_id                = "blablabla"
zone                     = "blablabla"
image_id                 = "blablabla"
subnet_id                = "blablabla"
private_key              = "./appuser"
